# Sample daily-backup configuration file.
# https://github.com/glevand/daily-backup
#

backup_server="${backup_server:-root@backup-host}"
# backup_server='localhost'

backup_list=(
	'/etc'
	'/home/${USER}'
)

full_backup_mount="${full_backup_mount:-/home/${HOSTNAME}-full_backups}"
full_backup_path="${full_backup_path:-/daily-backups}"

daily_backup_mount="${daily_backup_mount:-/home/${HOSTNAME}-daily_backups}"
daily_backup_path="${daily_backup_path:-/daily-backups}"
