#!/bin/bash
# Config file for daily-backup.sh

BACKUP_SERVER=${BACKUP_SERVER:-"root@backup"}
#SRC=${SRC:-"/etc /home"}
#FULL_MOUNT=${FULL_MOUNT:-"/home/${HOSTNAME}-full-backup"}
#DAILY_MOUNT=${DAILY_MOUNT:-"/home/${HOSTNAME}-daily-backup"}
#FULL_PATH=${FULL_PATH:-"/full"}
#DAILY_PATH=${DAILY_PATH:-"/${today}"}
